---
---

<html>
  <head>
    <title>good morning</title>
    <style is:global>
    body {
      background-color: #222;
      overflow: hidden;
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      font-size: 36px;
      font-weight: bold;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #fff;
      z-index: 1;
      position: relative;
    }

    .snowflake {
      position: absolute;
      color: white;
      font-size: 1em;
      user-select: none;
      z-index: 0;
      top: 0;
    }
  </style>
  </head> 
  <body>
    <script is:inline>
      function createSnowflake() {
        const snowflake = document.createElement('div');
        snowflake.innerHTML = '\u2744';
        snowflake.className = 'snowflake';
        snowflake.style.left = `${Math.random() * 100}vw`;
        snowflake.style.animationDuration = `${Math.random() * 3 + 2}s`;
        snowflake.style.opacity = Math.random();
        snowflake.style.fontSize = `${Math.random() * 10 + 10}px`;
        
        document.body.appendChild(snowflake);
        
        const animation = snowflake.animate([
          { transform: 'translate(0, -10px)' },
          { transform: `translate(${Math.random() * 100 - 50}px, ${window.innerHeight}px)` }
        ], {
          duration: Math.random() * 3000 + 3000,
          easing: 'linear'
        });
        
        animation.onfinish = () => snowflake.remove();
      }
      
      setInterval(createSnowflake, 100);
    </script>
    <h1 class="text">good morning</h1>
  </body>
</html>
