---
import SponsorButton from "./SponsorButton.astro";
---

<footer class="mt-16 pt-8 border-t border-gray-200 dark:border-gray-700 max-w-4xl mx-auto px-5 md:px-10">
  <div class="flex flex-col items-center gap-6 pb-8">
    <SponsorButton username="jonaylor89" />

    <nav aria-label="Footer links" class="flex flex-wrap justify-center gap-4 text-sm">
      <a href="/" class="text-black dark:text-white underline hover:opacity-70 transition-opacity duration-200">
        home
      </a>
      <a href="/projects" class="text-black dark:text-white underline hover:opacity-70 transition-opacity duration-200">
        projects
      </a>
      <a href="/blog" class="text-black dark:text-white underline hover:opacity-70 transition-opacity duration-200">
        blog
      </a>
      <a href="/links" class="text-black dark:text-white underline hover:opacity-70 transition-opacity duration-200">
        links
      </a>
      <a href="https://github.com/jonaylor89" target="_blank" rel="noopener noreferrer" class="text-black dark:text-white underline hover:opacity-70 transition-opacity duration-200">
        github
      </a>
      <a href="https://linkedin.com/in/john-naylor" target="_blank" rel="noopener noreferrer" class="text-black dark:text-white underline hover:opacity-70 transition-opacity duration-200">
        linkedin
      </a>
      <a href="https://x.com/jonaylor89" target="_blank" rel="noopener noreferrer" class="text-black dark:text-white underline hover:opacity-70 transition-opacity duration-200">
        X/twitter
      </a>
    </nav>
  </div>
</footer>
