<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:name=".PaperClockApp" android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:theme="@style/Theme.PaperClock" android:usesCleartextTraffic="false">
        <activity android:name=".alarm.AlarmActivity" android:excludeFromRecents="true" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
        <receiver android:name=".alarm.AlarmReceiver" android:exported="false" />
        <receiver android:name=".widget.WidgetActionReceiver" android:exported="false" />
        <receiver android:name=".widget.WidgetRefreshReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.NextReasonWidgetProvider" android:exported="false" android:label="@string/widget_next_reason_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_next_reason_info" />
        </receiver>
        <receiver android:name=".widget.QuickAlarmWidgetProvider" android:exported="false" android:label="@string/widget_quick_alarm_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_quick_alarm_info" />
        </receiver>
        <receiver android:name=".widget.GoalCountdownWidgetProvider" android:exported="false" android:label="@string/widget_goal_countdown_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_goal_countdown_info" />
        </receiver>
        <receiver android:name=".widget.GoalFocusWidgetProvider" android:exported="false" android:label="@string/widget_goal_focus_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_goal_focus_info" />
        </receiver>
        <receiver android:name=".alarm.BootReceiver" android:exported="true"><intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/><action android:name="android.intent.action.MY_PACKAGE_REPLACED"/></intent-filter></receiver>
        <service android:name=".alarm.AlarmSoundService" android:foregroundServiceType="mediaPlayback" android:exported="false" />
    </application>
</manifest>
