<section id="hosts" class="bg-rva-remix-purple mx-3 my-4 lg:mx-40">
  <div class="flex flex-col items-center py-5">
    <div class="font-bold text-4xl pb-5 lg:font-black lg:text-5xl">
      MEET THE HOSTS
    </div>

    <div class="flex flex-col">
      <div class="flex flex-col items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="128" height="128" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M12 12c2.761 0 5-2.239 5-5s-2.239-5-5-5-5 2.239-5 5 2.239 5 5 5zm0 2c-3.866 0-7 2.134-7 4.5V21h14v-2.5c0-2.366-3.134-4.5-7-4.5z" />
        </svg>
        <div class="font-bold text-lg">TBD!</div>
      </div>
    </div>
  </div>
</section>
