<section id="winners">
  <div class="bg-black flex flex-col items-center py-5 lg:mx-40">
    <div class="font-bold text-4xl pb-3 lg:font-black lg:text-5xl">
      WINNERS
    </div>

    <div class="text-center pb-6 max-w-2xl px-6">
      Top 3 tracks from the remix challenge, ranked by judges' scores with one
      entry per team.
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-around w-full">
      <div class="flex flex-col items-center py-6 lg:px-20">
        <div class="font-bold text-5xl text-center">1ST PLACE</div>
        <div class="text-3xl text-center">SIDEEYE</div>
        <a
          class="font-bold px-3 text-blue-500 hover:scale-110 ease-in text-center"
          href="https://audius.co/SIDEEYEmusic/sideeye-rva-remix-2022-uno"
          target="_blank"
          rel="noreferrer"
        >
          RVA Remix 2022 (Uno)
        </a>
      </div>
      <div class="flex flex-col items-center py-6 lg:px-20">
        <div class="font-bold text-5xl text-center">2ND PLACE</div>
        <div class="text-3xl text-center">Kiyoshimon</div>
        <a
          class="font-bold px-3 text-blue-500 hover:scale-110 ease-in text-center"
          href="https://audius.co/Kiyoshimon/winners"
          target="_blank"
          rel="noreferrer"
        >
          Winners
        </a>
      </div>
      <div class="flex flex-col items-center py-6 lg:px-20">
        <div class="font-bold text-5xl text-center">3RD PLACE</div>
        <div class="text-3xl text-center">RedEye</div>
        <a
          class="font-bold px-3 text-blue-500 hover:scale-110 ease-in text-center"
          href="https://audius.co/lostwonder4/redeye-rebel-stolen-ship-under-the-red-moon-master"
          target="_blank"
          rel="noreferrer"
        >
          Stolen Ship Under the Red Moon (Master)
        </a>
      </div>
    </div>
  </div>
</section>
