{% extends "web/_admin_layout.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
<a href="/admin/dashboard" class="back-link">back to dashboard</a>
<h1>Change password</h1>

<div class="flash-messages">
  {% for message in flash_messages %}
    <div class="flash-message">{{ message.content }}</div>
  {% endfor %}
</div>

<form action="/admin/password" method="post" class="stacked">
  <label>Current password
    <input type="password" placeholder="Current" name="current_password" required>
  </label>
  <label>New password
    <input type="password" placeholder="New" name="new_password" required>
  </label>
  <label>Confirm new password
    <input type="password" placeholder="Type again" name="new_password_check" required>
  </label>
  <div><button type="submit">Change password</button></div>
</form>
{% endblock %}
