---
import BaseLayout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderSection from '../components/HeaderSection.astro';
import PrizesSection from '../components/PrizesSection.astro';
import ScheduleSection from '../components/ScheduleSection.astro';
import HostsSection from '../components/HostsSection.astro';
import SponsorSection from '../components/SponsorSection.astro';
import TeamSection from '../components/TeamSection.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <div class="App">
    <NavBar />
    <HeaderSection />
    <PrizesSection />
    <ScheduleSection />
    <HostsSection />
    <SponsorSection />
    <TeamSection />
    <Footer />
  </div>
</BaseLayout>
